{% extends "base.html" %}

{% block contenido %}


<div class="cards-container">

    <div class="card">
        <h2>👩‍🎓 Estudiantes</h2>
        <p>Administrar estudiantes registrados.</p>
    </div>

    <div class="card">
        <h2>🏀 Actividades</h2>
        <p>Gestionar actividades deportivas.</p>
    </div>

    <div class="card">
        <h2>📝 Inscripciones</h2>
        <p>Controlar inscripciones y lista de espera.</p>
    </div>

    <div class="card">
        <h2>📊 Reportes</h2>
        <p>Consultar estadísticas del sistema.</p>
    </div>

</div>

{% endblock %}